---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface AlternateUrl {
  lang: string;
  url: string;
}

interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: 'website' | 'article';
  publishedTime?: Date;
  modifiedTime?: Date;
  author?: string;
  robots?: string;
  canonical?: string;
  lang?: 'ko' | 'en' | 'ja';
  alternateUrls?: AlternateUrl[];
}

const { title, description, image, type, publishedTime, modifiedTime, author, robots, canonical, lang, alternateUrls } = Astro.props;
---

<BaseLayout title={title} description={description} image={image} type={type} publishedTime={publishedTime} modifiedTime={modifiedTime} author={author} robots={robots} canonical={canonical} lang={lang} alternateUrls={alternateUrls}>
  <slot name="head" slot="head" />
  <Header />
  <main class="flex-1">
    <slot />
  </main>
  <Footer />
</BaseLayout>
