---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';

interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: 'website' | 'article';
  publishedTime?: Date;
  modifiedTime?: Date;
  author?: string;
}

const { title, description, image, type, publishedTime, modifiedTime, author } = Astro.props;
---

<BaseLayout title={title} description={description} image={image} type={type} publishedTime={publishedTime} modifiedTime={modifiedTime} author={author}>
  <Header client:load />
  <main class="flex-1">
    <slot />
  </main>
  <Footer client:load />
</BaseLayout>
